<!DOCTYPE html>
<html lang="es-cl">
<head>
    {# archivo #}
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDSNiños</title>
    <link rel="stylesheet"  href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static '/css/flexboxgrid.css' %}">
    <link  href="{% static '/https://fonts.googleapis.com/css?family=Roboto&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet"  href="{% static '/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css' %}">
    <link rel="stylesheet"  href="{% static '/css/style.css' %}">
    <link rel="shortcut icon"  href="{% static '/img/65922.png' %}" type="image/x-icon">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark header">
                <a class="navbar-brand"  href="#">
                        <img src="{% static '/img/boy-1299574_640.png' %}" alt="logo" srcset="" height="50">
                    </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link"  href="{% static '/#' %}">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  href="ingreso">Ingreso</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  href="ingreso">Ingreso</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link"  href="registro">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="micuerpo">Yo se cuidar mi cuerpo</a>
                              </li>
                          </ul>
                        </div>
                      </nav>


                      <div class="row main center-xs">
                            <div class="col-xs-10 col-sm-10 col-md-8">
                                <img src="{% static '/img/dibujos-animados-grupo-ninos-escuela_11460-4760.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="row main middle-xs">
                            <div class="col-xs-12 col-sm-4">
                                <h3 class="centrar blanco"></h3>
                            </div>

                            <br>
                            <div class="col-xs-10 col-sm-4">
                                <h1 class="centrar blanco">La educación Sexual Es Importante</h1>
                            </div>
                            <div class="col-xs-10 col-sm-4">
                                <ul>
                                    <li><a  href="{% static '/#"><i class="fab fa-facebook fa-2x' %}"></i></a></li>
                                    <li><a  href="{% static '/#"><i class="fab fa-instagram fa-2x' %}"></i></a></li>
                                    <li><a  href="{% static '/#"><i class="fab fa-facebook fa-2x' %}"></i></a></li>
                                    <li><a  href="{% static '/#"><i class="fab fa-facebook fa-2x' %}"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="pl-5">

                        
                        <p>Para entender el tema de la sexualidad humana en su dimensión adecuada, lo primero que hay que distinguir son los conceptos sexo y sexualidad.

                              <p><b>Sexo</b><br>  es un término que sirve para clasificar a los seres humanos en dos grandes grupos: masculino y femenino, y también, en su uso coloquial, para aludir a la práctica sexual. Es un término unívoco que se emplea para los seres vivos en general</p>
                                
                               <p><b>Sexualidad</b><br> 
                                remite al conjunto de relaciones que los individuos establecen entre sí y con el mundo por el hecho de ser sexuados. Es un concepto complejo, adecuado para hablar del tema sexual en los seres humanos. Actualmente, algunos incluso prefieren usar el término //psicosexualidad// para referirse a la sexualidad humana, pues con esta palabra se manifiesta la estrecha relación que tiene el sexo -un aspecto eminentemente corporal- con el pensamiento, las emociones, la inteligencia, la edad, el nivel de desarrollo, la personalidad, el equilibrio mental y los valores.</p>
                                <br>
                                
                               <p><b>Definiciones:</b></p>
                                <br>
                               <p> –  La sexualidad es un universo complejo en el cual intervienen aspectos tanto biológicos, como psicológicos y sociales.</p>
                                <br>
                               <p> – La sexualidad engloba una serie de condiciones culturales, sociales, anatómicas, fisiológicas, emocionales, afectivas y de conducta, relacionadas con el sexo que caracterizan de manera decisiva al ser humano en todas las fases de su desarrollo.</p>
                                
                               <p> – La sexualidad puede definirse en un sentido amplio, como una forma de comunicación humana y como una fuente de salud, placer y afectividad y a veces incluso como fuente de preproducción. La sexualidad es plural  en cuerpo y mente y también tridriferencial ya que tiene componentes físicos, psíquicos y sociales.</p>
                                
                               <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                               – Conjunto de características físicas y psicológicas propias de cada sexo además del conjunto de actividades y comportamientos relacionados con la atracción entre los sexos, con la reproducción y con el placer sexual</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Encontrar una definición de sexualidad es una tarea difícil. Pero todas coinciden en que la sexualidad es un concepto multiforme, extenso, profundo y variadísimo de elementos que todos unidos forman el concepto de sexualidad como un todo.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                La sexualidad es un término dinámico, es vivida y entendida de modos diversos en a lo largo y ancho de la geografía mundial atendiendo a las diferentes culturas, ideales, modelos de sociedad y de educación.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Además de este condicionante socio-cultural, debemos tener en cuenta que la sexualidad es un concepto dinámico y por tanto cada individuo crea y entiende la sexualidad de forma diferente.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Debemos tener en cuenta que el ser humano nace con unas estructuras centrales activas que son determinantes para la frecuencia, la forma, la orientación de su conducta sexual. Además, dichas estructuras se relacionan y se adaptan tanto a la realidad externa como al sujeto mismo. Todo ello influye así en la adquisición del concepto de sexualidad.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Una cuestión importante a resaltar es que el desarrollo sexual forma parte del proceso vital de la persona y de su modo de actuar.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Así pues, no podemos encajonar la sexualidad como algo estático y predecible, sino como un todo que envuelve la vida del hombre, que evoluciona a lo largo de la historia y también en la historia personal de cada individuo. La sexualidad nos acompaña desde que nacemos hasta que morimos, y va moldeándose al ritmo de nuestras experiencias de vida, poniendo su sello en todo lo que vemos, entendemos, sentimos y vivimos.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                La sexualidad es, por tanto, algo más que una dimensión de la persona; forma parte de lo esencial del ser humano: es algo que somos. De ahí que favorecer el desarrollo sano y placentero de la sexualidad sea favorecer el desarrollo integral de una persona.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                1.2. La complejidad de la sexualidad:</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Somos seres sexuados desde antes de nacer, desde antes inclusive de que morfológicamente pueda ser advertido nuestro sexo. Somos seres naturalmente sexuados desde que nacemos hasta que morimos y ello influye en todo el desarrollo integral de la persona.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Como se ha comentado anteriormente, la sexualidad es un concepto complejo, variable y dinámico. Esta complejidad de la sexualidad hace que los seres humanos nos diferenciemos del resto de los seres vivos</p>.
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Los seres humanos poseemos necesidades que van más allá de las naturales, y esta característica es la que nos da nuestra verdadera especificidad. Lo que para los animales es relativamente simple, en nosotros se vuelve complejo.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Las necesidades sexuales para el ser humano no son, como en el resto de los seres vivos, un llamado a la reproducción, sino que se relacionan con la autoestima, con el placer, con los sentimientos, con la moral, con las costumbres, con la religión, con el derecho, con el proyecto de vida, con el género, en fin, con todos y cada uno de los elementos que constituyen nuestraidentidad y nuestra vida en sociedad.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                Cada persona tiene un concepto de sexualidad diferente que se ve influenciado por la sociedad, las culturas, la época, la historia y las tendencias individuales.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                En función del concepto que cada persona entiende de la sexualidad irá formando su propia identidad sexual y a la vez ira creando su propia identidad como persona.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                La sexualidad es un elemento muy importante de la vida humana y hasta podría decirse que modula la percepción que el individuo tiene de sí mismo y del mundo del cual forma parte. Para entender la sexualidad humana es necesario, por lo tanto, inscribirla en un complejo de relaciones que la ubiquen en su auténtica dimensión.</p>
                                
                                <p> La diferencia entre el ser humano y el animal es lo que vuelve tan complejo el asunto de la sexualidad, pues en este campo forcejean los impulsos netamente naturales -el apetito sexual- con las normas morales, con las normas religiosas y hasta con las concepciones filosóficas acerca del ser humano.</p>
                                
                                </p>
                                <br>
                                <br>
                              </div>
    
</body>
</html>