<!doctype html>
<html lang="es-cl">
  <head>
    {# archivo #}
    {% load static %}  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest"  href="{% static '/manifest.json' %}">
    <link rel="stylesheet"  href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static '/css/flexboxgrid.css' %}">
    <link rel="stylesheet"  href="{% static '/css/style.css' %}">
    <title>Registro de usuario</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark header">
          <a class="navbar-brand"  href="{% static '/#' %}">
                  <img src="{% static '/img/boy-1299574_640.png' %}" alt="logo" srcset="" height="50">
              </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link"  href="cliente">Inicio <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  href="ingreso">Ingreso</a>
                      </li>
                      <li class="nav-item">
                              <a class="nav-link"  href="registro">Registrarse</a>
                              
                      </li>
                      <li class="nav-item">
                          <a class="nav-link"  href="micuerpo">Yo se cuidar mi cuerpo</a>
                        </li>
                    </ul>
                  </div>
                </nav>
                <br>
                <br>
    <div class="fondo"> </div>
      <div class="col-xs-12 col-sm-15">
          <h1 class="centrar blanco">Ingrese sus datos</h1>
          <h4 class="centrar blanco"></h4>
        </div>
        <br>
         
          
    
    <div class="container">
      <form action="resultado.html" method="GET" id="formulario">
        <div class="form-group">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" name="correo" placeholder="Ingrese su correo">
        </div>
        <div class="form-group">
        <label for="pass">Contraseña</label>
        <input type="password" class="form-control" name="pass" placeholder="Ingrese su contraseña">
        <a href= "" >¿Haz olvidado tu contraseña? </a>
       </div>
         <div class="form-group">
        <button class="btn btn-primary" type="submit">Ingresar</button>
      </form>
    </div>
    <!--JS FILES-->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/app.js"></script>
  </body>
</html>