<!DOCTYPE html>
<html lang="es-cl">
<head>
    {# archivo #}
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yo se cuidar mi cuerpo</title>
    <link rel="stylesheet"  href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static '/css/flexboxgrid.css' %}">
    <link  href="{% static '/https://fonts.googleapis.com/css?family=Roboto&display=swap' %}" rel="stylesheet">
    <link rel="stylesheet"  href="{% static '/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css' %}">
    <link rel="stylesheet"  href="{% static '/css/style.css' %}">
    <link rel="shortcut icon"  href="{% static '/img/65922.png' %}" type="image/x-icon">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark header">
                <a class="navbar-brand"  href="{% static '/#' %}">
                        <img src="{% static '/img/boy-1299574_640.png' %}" alt="logo" srcset="" height="50">
                    </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link"  href="#">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  href="ingreso">Ingreso</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link"  href="registro">Registrarse <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link"  href="micuerpo">Yo se cuidar mi cuerpo</a>
                                  </li>
                            
                          </ul>
                        </div>
                      </nav>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="{% static '/img/yo-se-cuidar-mi-cuerpo1.jpg' %}" class="imagen d-block w-100 img-fluid" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static '/img/consejo como me cuido.JPG' %}" class="imagen d-block w-100 img-fluid" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static '/img/adulto confianza.JPG' %}" class="imagen d-block w-100 img-fluid" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev"  href="{% static '/#carouselExampleControls' %}" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next"  href="{% static '/#carouselExampleControls' %}" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>

                          


                        </footer>
                        <script src="js/jquery-3.4.1.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                        <script src="js/bootstrap.js"></script>
                        <script src="js/app.js"></script>
                        

    
</body>
</html>