label.is-invalid{
    color: red;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;

}
#logo{
    padding: 10px;
    margin-left: 10px;
}
li a{
    color: #ffffff;
    text-decoration: none;
}
li{
    float: left;
    margin: 10px;
}
.centrar{
    text-align: center;
}
.blanco{
    color:black;
}
ul{
    list-style: none;
}
            
.main{ 
    background-color:white;
}

.header{
    background-color:#FC0602;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
footer{
    background-color: lightgrey;
    padding: 50px;
}
.altura{
    height: 450px;
    object-fit: cover;
    object-position: center;
}
.imagen{
    object-fit: cover;
} 